<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34996217-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>
        <a href="http://golang.org">Go</a>는 간단하고, 빠르고 안정적인 소프트웨어를 개발하기 위해 설계된 오픈소스 프로그래밍 언어입니다.
      </p>
     
      <p>
        <em>Go by Example</em>은 주석이 달린 예제 프로그램을 활용해 Go를 실습할 수 있는 소개서입니다. <a href="hello-world">첫 예제</a>를 보거나 아래 전체 목록을 살펴보세요.
      </p>
      
      <ul>
      {{range .}}
        <li><a href="{{.Id}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        원작자 <a href="https://twitter.com/mmcgrana">@mmcgrana</a> | 번역 <a href="https://github.com/mingrammer">@mingrammer</a> | <a href="https://github.com/mingrammer/gobyexample">source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
